#tittle {
    text-align: center;
    color: brown;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#imagen {
    height: 600px;
}

ul,
ol {
    font-family: Arial, Helvetica, sans-serif;
}


#descrip {
    text-align: center;
    color: chocolate;
}

.container {
    background-color: aqua;
    border: red solid;
    display: flex;
}

.container div {
    flex: auto;
}

.child {
    display: flex;
    flex-direction: column;
}

.child div {
    flex: 1;
}