#tittle {
    text-align: center;
    color: brown;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#muestra {
    width: auto;
    height: 500px;
}

#descrip {
    text-align: center;
    color: chocolate;
}